html,
body {
  height: 100%;
}

.about {
  /* background-color: #fdf5eb; */
  background-color: #f7ede2;
  height: 100vh;
}

.about-container {
  /* background-color: red; */
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.interest-item {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  /* background-color: aqua; */
}

.interest-item span {
  font-size: 2rem;
}

.about-text {
  font-size: 1rem;
  line-height: 2;
  width: 100%;
  text-align: justify;
  margin-top: 20px;
  /* background-color: goldenrod; */
}

#image-tooltip {
  position: relative;
  display: inline-block;
  background-color: transparent;
  color: black;
  font-weight: 600;
  margin-right: 0;
  padding: 0;
  font-size: 1rem;
  text-decoration: underline;
}

#image-tooltip-1 {
  position: relative;
  display: inline-block;
  background-color: transparent;
  color: black;
  font-weight: 600;
  margin-right: 0;
  padding: 0;
  font-size: 1rem;
  text-decoration: underline;
}

#image-tooltip-1:hover:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translateX(-50%);
  background-image: url("../assets/Illustration_sans_titre.png");
  background-size: cover;
  background-position: center;
  width: 220px;
  height: 120px;
}
#image-tooltip:hover:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translateX(-50%);
  background-image: url("../assets/Donut\ Render\ 12.png");
  background-size: cover;
  background-position: center;
  width: 220px;
  height: 120px;
}
