@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

html,
body {
  height: 100%;
}

.contact {
  /* background-color: rgb(253, 245, 235); */
  background-color: #f7ede2;
  /* background-color: red; */
  height: 100%;
}
main {
  height: 100%;
  /* background-color: blue; */
}

.contact-ttle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  /* background-color: green; */
  font-size: 4rem;
  font-family: "Anton", sans-serif;
}

.ttle {
  max-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ttle h1 {
  font-size: 5rem;
}

.contact-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 300px;
  /* background-color: blue; */
}

.find-me {
  font-size: 2rem;
}

.pb-1 {
  font-family: "IBM Plex Sans", sans-serif;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
.pb-2 a {
  font-family: "IBM Plex Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  color: black;
}

.contact-content li {
  list-style: none;
  text-align: left;
  line-height: 3rem;
  font-size: 1.5rem;
}

@media (max-width: 525px) {
  .contact-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 400px;
  }

  .pb-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-content a {
    text-align: center;
  }

  .pb-1 {
    font-family: "IBM Plex Sans", sans-serif;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 40px;
  }

  .pb-2 a {
    text-transform: none;
    font-weight: 600;
    font-size: 2rem;
  }
}
