@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

html,
body {
  height: 100%;
  margin: 0;
}

.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "IBM Plex Sans", sans-serif;
}

.little-description > * {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.text-content > * {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.contact-title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 380px;
  margin-top: 20px;
  font-size: 6rem;
  font-family: "Anton", sans-serif;
}

.contact-title span {
  background-color: transparent;
  color: black;
  font-size: 8rem;
}
.bottom-content {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
  font-size: 1rem;
  line-height: 2rem;
}

@media (max-width: 525px) {
  .home h1 {
    font-size: 4rem;
  }

  .little-description h3 {
    display: none;
  }

  .text-content > * {
    font-size: 1rem;
  }
  .bottom-content {
    padding: 5px;
    flex-wrap: wrap;
  }
}
