@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  /* background-color: blue; */
}

.nav-link {
  font-family: "IBM Plex Sans", sans-serif;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 600;
}

.nav-link:hover {
  cursor: pointer;
}

.nav-link:hover {
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .navbar ul {
    width: 100%;
  }

  .navbar li {
    font-size: 0.8rem;
  }
}

@media (max-width: 350px) {
  .navbar {
    padding: 10px;
  }
  .navbar li {
    font-size: 0.6rem;
  }
}
