@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

html,
body {
  height: 100%;
  /* background-color: rgb(253, 245, 235); */
  background-color: #f7ede2;
}

.projects {
  height: 100%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards {
  height: 100%;
  padding: 50px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  display: flex;
  width: 100%;
  height: 400px; /* Adjust the height as needed */
  margin-bottom: 40px;
  /* border: 1px solid black; */
}

.img {
  width: 100%;
  height: 100%; /* Adjust the height as needed */
  box-shadow: 5px 5px 5px rgb(200, 200, 200);
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-content {
  /* font-family: "Fjalla One", sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  height: 100%;
}

.span {
  margin-top: 40px;
}

span {
  background-color: black;
  font-size: 0.8rem;
  border-radius: 5px;
  color: white;
  margin-right: 10px;
  padding: 10px;
}

.card-content p {
  font-size: 1rem;
  text-align: justify;
  line-height: 2rem;
  margin-top: 80px;
  margin-bottom: 40px;
}

.card-content h6 {
  font-weight: 800;
}

.bottom-content {
  height: 290px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
  line-height: 2.5rem;
}

button {
  font-size: 1rem;
  border: none;
  background-color: transparent;
  font-weight: 600;
  margin-right: 10px;
  padding: 10px;
}

/* Responsive Adjustments */

@media (min-width: 768px) {
  /* Adjust the breakpoint value as needed */
  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  /* Adjust the breakpoint value as needed */
  .cards {
    padding: 40px;
  }
}
